body{
  background: black;
  margin: 0;
  overflow: scroll;
}
.principal{
  width: 600px;
  height: 700px;
  margin: auto;
  background-color: white;
  margin-top: 20px;
  border: 100px;
  border-color: rgb(8, 8, 8);
  font-family: 'Roboto', sans-serif;
}
.post{
  background-color: white;
  display: flexbox;
  width: 600px;
  margin-top: 5px;
}
.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 581px;
  height: 60px;
  padding: 10px;
}
.titulo{
  display: flex;
}
.titulodrch{
    display: inline-block;
}
h1{
  width: 40px;
  margin-top: 35px;
}
h2{
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: 0;
  height: 28px;
}
h3{
    font-size: small;
    margin-top: 0;
    height: 22px;
}
.menu{
  float: right;
}
.imagen{
  width: 600px;
  position: center;
}
img{
  width: 100%;
}
.pie-de-pagina{
  display: flex;
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  margin-top: 20px;
}
.iconos{
  margin: 10px;
  margin-bottom: 25px;
}
p{
  font-style: roboto;
  font-size: large;
  margin: 10px; 
}
span{
  float: right;
}
.fa-regular fa-heart fa-xl{
  color: black;
}
.fa-regular fa-comment fa-xl{
  color: black;
}
.fa-regular fa-paper-plane fa-xl{
  color: black;
}
.fa-regular fa-bookmark fa-xl{
  color: black;
}